@{
    ViewBag.Title = "Home Page";
}

</script>
<div class="jumbotron">
    <h2>Technology Stack</h2>
    <ul>
        <li><h3>ASP.Net MVC5</h3></li>
        <li><h3>Entity Framework 6 - Code First</h3></li>
        <li><h3>Twitter Bootstrap</h3></li>
        <li><h3>Automapper</h3></li>
        <li><h3>Autofac - Dependency Injection</h3></li>
        <li><h3>Microsoft OWIN</h3></li>
        <li><h3>jQuery</h3></li>
        <li><h3>Design Patterns:</h3></li>
            <ul>
                <li><h4>Unite Of Work Pattern</h4></li>
                <li><h4>Repository Pattern</h4></li>
            </ul>
        <li><h3>xUnit</h3></li>
        <li><h3>Moq</h3></li>
    </ul>
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@